.navbar-nav {
    a {
        padding: 10px;
        
        &.active {
            color: red;
        }
    }
}

.navbar {
    .navbar-brand {
        width: 60px;
        height: 60px;
        background-image: url(../../../assets/logo.png);
        background-size: cover; 
        padding-top: 0;
        padding-bottom: 0;  
    }
}